@media (max-width: 670px) {
  header {
    width: 100%;
    padding: 0 10px;
  }
  ..navbar {
    position: absolute;
    width: 100%;
    background-color: black;
    top: 50px;
    left: -100%;
    height: calc(100vh - 50px);
  }
  i {
    display: block;
  }

  .navbar {
    float: left;
    display: none;
  }

  .flex-list {
    width: 80%;
    justify-content: center;
  }

  footer {
    text-align: center;
  }
  .footer-left {
    float: none;
  }
}
