body {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.togel i {
  width: 100px;
  text-align: center;
}
header a {
  text-decoration: none;
  color: black;
  margin: 80px;
}

a:hover {
  color: rgb(226, 247, 40);
}

.header-top {
  text-align: center;
  font-size: 50px;
}

.navbar li {
  list-style: none;
  float: left;
  margin-left: 40px;
}

.carosel {
  background-color: cadetblue;
  height: 300px;
  text-align: center;
  margin-top: 70px;
}

.carosel p {
  padding-top: 100px;
}
.carosel button {
  background-color: blue;
  margin: 30px;
  border-style: hidden;
  height: 30px;
  border-radius: 5px;
}

.flex-list li {
  list-style: none;
  background-color: cadetblue;
  margin: 40px;
  padding: 10px;
  font-size: 13px;
  width: 200px;
}

li a {
  text-align: center;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.border {
  border-bottom: 2px solid rgb(59, 58, 58);
  text-align: center;
}

.footer-left {
  float: left;
}

.footer-right1 {
  float: right;
  margin-top: 15px;
  margin-right: 50px;
}

.footer-right2 {
  margin-top: 15px;
  float: right;
  margin-right: 150px;
}
